html {
  padding: 0px;
  margin: 0px;
}

@media only screen and (min-width: 768px) {
  body {
    padding: 0px;
    margin: 0px;
    background-image: url('https://www.pe.se/sites/default/files/angstrom_jstrongphoto_web_01.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    backdrop-filter: blur(5px);
  }

  .header {
    margin-top: 20px;
    border-radius: 20px;
  }

  /* This fixes annoying padding */
  .container--outer {
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

.list__thumbnail .thumbnail__image {
  border-radius: 3px;
}

.post__thumbnail .thumbnail__image {
  border-radius: 10px;
  max-height: 400px;
  width: auto;
  height: auto;
}

.post__thumbnail {
  display: flex;
  justify-content: center;
  align-items: center;
}

.doclist {
  width: 400px;
  max-width: 100%;
  column-width: 120px;
}

#lang_switcher {
  color: #e8b923 !important;
}
